.product-detail {
  width: 360px;
  height: calc(100vh - 68px);
  top: 68px;
  opacity: 1;
  transform: translateX(0);
  animation: slide-in 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
